body{
    background-image: url('../image/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgb(104, 170, 255);
    background-blend-mode:color-dodge
}
.nav-link{
    color: #bbb;
    &:focus,&:hover{
        color:#fff;
    }
}
button{
    background-color: transparent;
    border:none;
}
#singlePic{
    height: 500px;
}
footer{
    height: 150px;
}
.goTop{
    position: fixed;
    bottom: 20px;
    right:3vw;
    color: #222;
    background-color: #fff;
    border-radius: 50%;
    border: 2px white solid;
    display: none;
    &:hover{
        color:#444;
    }
}
#start{
    width: 100%;
    height: 70vh;
    text-align: center;
}
#info {
    font-size: 40px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    animation: start 0.8s ease-in-out;
}
@keyframes start {
    0%{
        opacity: 0;
        top:50%;
        left:50%;
        transform: translate(-50%,50%);
    }
    100%{
        opacity: 1;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
}